// 整體布局、框架類
#app {
  @include media-breakpoint-up(md) {
    overflow-y: auto;
  }
}

.mx-n15px {
  margin-right: -15px;
  margin-left: -15px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rounded-breakpoint {
  @include media-breakpoint-up(md) {
    border-radius: 0.25rem;
  }
}

// 背景、遮罩類
.bg-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-light-breakpoint {
  @include media-breakpoint-down(sm) {
    background-color: $gray-100;
  }
}

.mask {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1030;
}

// 文字、字型類
.line-height-lg {
  line-height: 1.5;
}

// 連結類
a {
  display: inline-block;
  cursor: pointer;
}
.page-link {
  color: black;
}

// 個別元件類
.header {
  height: 350px;
  @include media-breakpoint-up(md) {
    height: 450px;
  }
  @include media-breakpoint-up(lg) {
    height: 600px;
  }
  @include media-breakpoint-up(xl) {
    border-radius: 0.25rem;
  }
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.header-text {
  position: absolute;
  padding: 1rem;
  background-color: rgba(206, 212, 218, 0.3);
  text-align: center;
  font-weight: 600;
  color: black;
}

//// 選單類
.nav-item:hover {
  background-color: $primary-dark;
}

//// 對話框、訊息類
#msgModalDialog,
#adminCouponsModalDialog {
  top: 50%;
  transform: translateY(-50%);
}
.error-msg {
  border: 3px solid $danger;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
  padding: 0.75rem;
  text-align: center;
  color: $danger;
}

//// breadcrumb
.breadcrumb-link {
  color: #fff;
}
.breadcrumb-link:hover {
  color: $danger;
}

//// 按鈕、表單類
button.btn-fav:hover {
  color: $primary;
  border-color: $primary;
  background-color: $light;
}

.btn-setQty {
  font-size: 24px;
  border-radius: 0;
  padding: 0 0.6rem;
}
.btn-setQty-word {
  position: relative;
  top: -2px;
}

.totop {
  display: none;
  position: fixed;
  z-index: 5;
  right: 8px;
  bottom: 8px;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
}

button, select, option, input:not([type="checkbox"]){
  height: 45px;
}
select, option, input[type="checkbox"] {
  cursor: pointer;
}

////// 取消input:number的steps
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"]{
  -moz-appearance: textfield;
}

////// ProductsBtns
.productsbtns-back {
  display: none;
  @include media-breakpoint-only(sm) {
    display: flex;
    align-items: center;
  }
}
.productsbtns-short {
  display: none;
  @media (min-width: 375px) {
    display: inline;
  }
}

//// 圖示類
.icon-common {
  font-size: 30px;
}
.fa-phone-alt {
  position: relative;
  bottom: -1px;
}
.fa-heart {
  color: $red;
}

//// 卡片類
.card-header {
  background-color: $extra;
  color: white;
  text-align: center;
}
.card-lowerhalf {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: $light;
}

////// ProductsCardLg
.productscardlg {
  cursor: pointer;
}
.productscardlg-img {
  height: 200px;
}
.productscardlg-img:hover {
  background-size: 120%;
}
.productscardlg-badge {
  position: relative;
  top: 3px
}

////// ProductsCardSm
.productscardsm-block {
  cursor: pointer;
}
.productscardsm-img {
  width: 65px;
  height: 75px;
  @media (min-width: 375px) and (max-width: 575.98px) {
    width: 120px;
  }
  @media (min-width: 690px) and (max-width: 767.98px) {
    width: 120px;
  }
  @media (min-width: 865px) {
    width: 120px;
  }
}
.productscardsm-priceblock {
  display: flex;
  flex-direction: column;
  @media (min-width: 450px) and (max-width: 575.98px) {
    flex-direction: row;
  }
  @media (min-width: 1080px) {
    flex-direction: row;
  }
}
.productscardsm-badge {
  display: none;
  @media (min-width: 1080px) {
    display: inline;
  }
}
.productscardsm-btn-fav {
  position: relative;
  bottom: -1px;
  margin-left: auto;
  margin-right: 0.5rem;
  font-size: 32px;
}
.productscardsm-btn-cart {
  color: $secondary;
  font-size: 30px;
}
.productscardsm-date {
  display: none;
  @include media-breakpoint-up(md) {
    display: flex;
    flex: 1.5 0 88px;
    justify-content: center;
    align-items: center;
  }
}

//// 進度條類
.progress {
  height: 3px;
  width: 50%;
}
.progress-icon {
  position: relative;
  top: -11px;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-width: 3px;
  border-color: $primary;
  border-style: solid;
  background-color: $light;
  z-index: 1;
}
.progress-icon-active:after {
  content: '';
  display: block;
  height: 11px;
  width: 11px;
  border-radius: 6px;
  background-color: $primary;
}

//// 表格類
.table {
  th,
  td {
    vertical-align: middle;
  }
}

//// 列表類
ol,
ul,
dl {
  list-style-type: none;
  padding-left: 0;
}