.cus {
  padding-top: 61px;
  overflow-x: hidden;
}

// cusNavbar
.brand {
  overflow: hidden;
  white-space: nowrap;
  width: 223px;
  height: 45px;
  background-image: url('https://raw.githubusercontent.com/zou0u06/Lius-tea/gh-pages/src/images/logo-w.png');
}

.cusnavbar_mask {
  top: 261px;
  bottom: 0;
  right: 0;
  left: 0;
}

// cusIndex
.cusindex_header1 {
  background-image: url('https://raw.githubusercontent.com/zou0u06/Lius-tea/gh-pages/src/images/cusindex_header_bg1.jpg');
  background-position: center top;
}
.cusindex_header1_text {
  bottom: 50px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 290px;
}

.cusindex_header2 {
  background-image: url('https://raw.githubusercontent.com/zou0u06/Lius-tea/gh-pages/src/images/cusindex_header_bg2.jpg');
  background-position: center top;
}
.cusindex_header2_text, .cusindex_header3_text {
  right: 15px;
  margin-left: auto;
  writing-mode: vertical-lr;
}
.cusindex_header3 {
  background-image: url('https://raw.githubusercontent.com/zou0u06/Lius-tea/gh-pages/src/images/cusindex_header_bg3.jpg');
  background-position: right bottom;
}

.cusindex_content, .cusindex_content_header {
  height: 200px;
  color: white;
}
.cusindex_content {
  font-size: 18px;
}
.cusindex_content_header {
  background-color: $primary-dark;
}
.cusindex_content1_img {
  background-image: url('https://raw.githubusercontent.com/zou0u06/Lius-tea/gh-pages/src/images/cusindex_content1.jpg');
  border-radius: 0.25rem;
}
.cusindex_content2_img {
  background-image: url('https://raw.githubusercontent.com/zou0u06/Lius-tea/gh-pages/src/images/cusindex_content2.jpg');
  border-radius: 0.25rem;
}

// cusProducts
.cusproducts_header {
  background-image: url('https://raw.githubusercontent.com/zou0u06/Lius-tea/gh-pages/src/images/cusproducts_header_bg.jpg');
  background-position: center top;
}
.cusproducts_header_text {
  margin-left: auto;
  right: 15px;
  writing-mode: vertical-lr;
}
.cusproducts_content {
  @include media-breakpoint-up(xl) {
    margin-right: -30px;
    margin-left: -30px;
  }
}

.cusproducts_badge {
  position: relative;
  top: 3px
}

// cusProduct
.cusproduct_header_img,
.cusproduct_header_text {
  height: 350px;
}

.cusproduct_header_img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  @include media-breakpoint-up(md) {
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.25rem;
  }
}
.cusproduct_header_text {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  @include media-breakpoint-up(md) {
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0rem;
  }
}

.cusproduct_select {
  width: 80px;
}

.cusproduct_heading {
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;  
}
.cusproduct_heading::before, .cusproduct_heading::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 3px;
  background-color: #fff;
}
.cusproduct_heading::before {
  margin-right: 15px;
}
.cusproduct_heading::after {
  margin-left: 15px;
}
.cusproduct_content {
  color: #fff;
  margin-bottom: 1.5rem;  
}

// cusLogin
.cuslogin_checkbox {
  margin-top: 0.5rem;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.cuslogin_checkbox input {
  height: 15px;
  width: 15px;
}
.cuslogin_form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.cuslogin_form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.cuslogin_form .form-control:focus {
  z-index: 2;
}
.cuslogin_form input[type="email"] {
  margin-bottom: -16px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.cuslogin_form input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.error {
  color: $danger;
  border: 3px solid $danger;
}

// cusCart系列共用
.progress_chara1 {
  border-width: 1px;
  background-image: url('https://raw.githubusercontent.com/zou0u06/Lius-tea/gh-pages/src/images/progress_chara1.png');
}
.progress_chara2 {
  border-width: 1px;
  background-image: url('https://raw.githubusercontent.com/zou0u06/Lius-tea/gh-pages/src/images/progress_chara2.png')
}
.progress_chara3 {
  border-width: 1px;
  background-image: url('https://raw.githubusercontent.com/zou0u06/Lius-tea/gh-pages/src/images/progress_chara3.png')
}

// cusCart
.cuscart_card_img {
  height: 100px;
  width: 80px;
  margin-right: 0.5rem;
  @media (min-width: 400px) {
    width: 100px;
    margin-right: 1rem;
  }
}
.cuscart_card_text {
  margin-bottom: 0;
  line-height: 1.2;
  font-weight: 500;
  font-size: 1.25rem;
}

// cusCartInfo
.cuscartinfo_card_img {
  width: 80px;
  height: 80px;
}

// cusCartPayment
.dashes {
  font-size: 20px;
  position: relative;
  top: 7px;
}

// cusCartFinished
.cuscartfinished_container {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://raw.githubusercontent.com/zou0u06/Lius-tea/gh-pages/src/images/cuscartfinished_bg.jpg');
}